<div class="container-fluid" style="max-width: 100%;">
    <div class="row">
        <div class="col-md-4 offset-4">
            <form (ngSubmit)="submit(f)" #f="ngForm">
                <div class="card">
                    <label>Username:</label>
                    <input type="text" class="form-control" [(ngModel)]="username" name="Name" required>

                    <label>Password:</label>
                    <input type="password" class="form-control" [(ngModel)]="password" name="Password" required>

                    <span style="color: red; margin-left: 3%;">{{ err }}</span>

                    <input type="submit" class="btn btn-success" value="Login" name="submit" [disabled]="!f.valid"
                    style="margin-left: 30%; margin-top: 6%; width: 35%">
                    <input type="reset" class="btn btn-danger" value="Reset" name="reset" (click)="reset()"
                    style="margin-left: 30%; margin-top: 3%; width: 35%">
                </div>
            </form>
        </div>
    </div>
</div>

<button type="button" (click)="socialSignIn('google')">
  
    Sign in with Google
</button>